<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet"> 
    <script src="{{ url_for('static', path='/friendList.js') }}"></script>
</head>

<body>
    <div class="flexUserApp" id="userApp_id">
        <div id="pushNotification">
        </div>

        <div id="navigation">
            <button class="navButton" id="friendListButton"> 
                <img src="{{ url_for('static', path='/friendList.png') }}"  class="icons" alt="">
            </button>
            <button class="navButton" id="chatListButton">
                <img src="{{ url_for('static', path='/chatList.png') }}"  class="icons" alt="">
            </button>
            <button class="navButton" id="groupChatButton">
                <img src="{{ url_for('static', path='/groupChat.png') }}"  class="icons" alt="">
            </button>
        </div>
    
        <div id="friendList">
            <div class="IDContainer">
                <input type="text" class="addFriendText" id="addFriendText_id" placeholder="Put User ID" />
                <button class="addFriendButton" id="addFriendButton_id">Add</button>
            </div>
        </div>
    </div>    
</body>

</html>